body{
    background-color: rgb(34, 34, 72);
}

#game{
    background-color: lightgrey;
    max-width: 500px;
    max-height: 400px;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

#text{
    background-color: black;
    padding: 10px;
    color: white;
}

#stats{
    border: 1px solid black;
    color: black;
    padding: 5px;
}

#controls{
    border: 1px black solid;
    padding: 5px;
}

#monsterStats{
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
}
.stat{
    padding-right: 10px;
}